
.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;

  .link {
    width: calc(0.8 * var(--m));
    height: calc(0.8 * var(--m));
    background-color: #1a1a1a;
    border-radius: calc(0.1 * var(--m));
    text-decoration: none;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      @include background-gradient;
    }
  }

  svg {
    height: calc(0.3 * var(--m)) !important;
    object-fit: cover;
  }
}
