@use "_globals/variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0em;
  text-align: left;
}

h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

h3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
}

h4 {
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.subtitle{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.lead {
font-size: 18px;
font-weight: 400;
line-height: 32px;
}
